.addmission-form-box {
    background: linear-gradient(to bottom right, #9ce2f4, #f0f8fa);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px; /* Oval shape */
    padding: 30px;
    max-width: 800px;
    margin: auto;
}

.addmission-header {
    
    font-size: 40px;
    color: #181D38;
    font-weight: bold;
    text-align: center; /* Center text horizontally */
    margin-bottom: 30px;
}

form .form-control {
    border-radius: 25px;
    padding: 10px 5px;
    border: 1px solid #000000;
    font-size: 12px;
}

form button[type="submit"] {
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #19a5e0;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #107dac;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f8fa;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#181D38

body {
    font-family: Arial, sans-serif;
}

.form-container h5, .form-container label {
    color: white; /* Ensure labels and headers are readable on blue background */
}

/* Flexbox layout for form rows */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.row .col-md-6 {
    flex: 1 1 100%; /* Set to 100% for mobile devices */
}

.form-control {
    width: 100%; /* Full width for mobile devices */
    padding: 0.5rem;
    margin-top: 0.25rem;
}

button[type="submit"] {
    border: none;
    color: white;
    background-color: #19a5e0;
    padding: 7px;
    margin-right: 85%;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #cff81a;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .row .col-md-6 {
        flex: 1 1 40%; /* Set to 45% for larger screens */
    }
}
