{% include "header.html" %}
{% load static %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">About Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="index.html">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- announcement sliding line  -->
    <div class="announcement-container">
        <div class="announcement">Approved by ACT Government of India, NCT (National Capital Territory), MSME (Ministry of Micro, Small & Medium Enterprises), and MCA (Ministry of Corporate Affairs)</div>
      </div>


     <!-- About Start -->
     <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">

                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Welcome to Placement Institute</h1>
                    <p class="mb-4">Approved by the <b>ACT Government of India, NCT (National Capital Territory), MSME (Ministry of Micro, Small & Medium Enterprises), and MCA (Ministry of Corporate Affairs)</b></p>
                    <p class="mb-4">Established in 2015, and formally registered with the education trust in 2016 and the Ministry of Corporate Affairs (MCA) – Government of India in 2017, by a group of visionary thinkers and intellectuals.</p>
                    <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Flexible Online Classes</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Govt. Approved Certificate</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Network with Professionals</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Flexible Payment Plans</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Career Support</p>
                        </div>
                    </div>
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="index.html">Know More Us</a> -->
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="/static/img/grad.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Mission vission goal achievement -->      
      <section class="timeline custom-text-color">
        <ul>
          <li>
            <div>
                <h2>Mission</h2>
                <p>Our mission is to provide high-quality education and best online training in Aviation, Tourism, Metro, Navy and many more fostering excellence and innovation in the industry.</p>
            </div>
          </li>
          <li>
            <div>
                <h2>Vision</h2>
                <p>We envision becoming a leading global institute in Aviation education, offering accessible and flexible online courses to shape the future of the industry through advanced research and outstanding training programs.</p>
            </div>
          </li>
          <li>
            <div>
                <h2>Goals</h2>
                <p>Our goals include expanding our training programs, including online courses, increasing our international partnerships, and continuously improving our curriculum to meet industry standards.</p>
            </div>
          </li>
          <li>
            <div>
                <h2>Values</h2>
                <p>We value integrity, excellence, innovation, and collaboration, ensuring that these principles are at the heart of everything we do, including our online offerings.</p>
            </div>
          </li>
        </ul>
      </section>   

      <!-- our student placed in  -->

      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Placed in Companies</h6>
            <h1 class="mb-5">Our Students Placed In</h1>
        </div>
        <div class="logo-slider-container">
            <div class="logo-slider">
                <div class="logo-slide"><img src="/static/img/companylogos/cl1.jpg" alt="Company 1"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl2.jpg" alt="Company 3"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl3.jpg" alt="Company 4"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl4.jpg" alt="Company 5"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl5.jpg" alt="Company 6"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl6.jpg" alt="Company 7"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl7.jpg" alt="Company 8"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl8.jpg" alt="Company 9"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl9.jpg" alt="Company 10"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl10.jpg" alt="Company 11"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl11.jpg" alt="Company 12"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl12.jpg" alt="Company 13"></div>
            </div>
        </div>
    </div>


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-dark mb-4"></i>
                            <h5 class="mb-3">Admission</h5>
                            <p>Start your career with Placement Institute, Get Admission Today!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user text-dark mb-4"></i>
                            <h5 class="mb-3">Login</h5>
                            <p>Welcome back! Sign in to access your courses, track your progress.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-home text-dark mb-4"></i>
                            <h5 class="mb-3">About Us</h5>
                            <p>We offer flexible online courses and government-approved certificates.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-phone text-dark mb-4"></i>
                            <h5 class="mb-3">Contact Us</h5>
                            <p>Reach out! Contact us by phone, email. We're here to help you navigate your journey.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

     <!-- photo gallery -->
     <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Gallery of Memories</h6>
            <h2 class="mb-5">Photos</h2>
        </div>
        <div class="slider-wrapper">
        <ul class="image-list">
            <img class="image-item" src="/static/img/gal2.jpg" alt="img-1" />
            <img class="image-item" src="/static/img/gal1.jpg" alt="img-2" />
            <img class="image-item" src="/static/img/gal4.jpg" alt="img-3" />
            <img class="image-item" src="/static/img/avaition-700x450.jpg" alt="img-4" />
            <img class="image-item" src="/static/img/merchant navy pic.jpg" alt="img-5" />
            <img class="image-item" src="/static/img/carousel-2.jpg" alt="img-6" />
            <img class="image-item" src="/static/img/tourismmanage for course category.jpg" alt="img-7" />
            <img class="image-item" src="/static/img/Diploma in Hotel Management1.jpg" alt="img-8" />
            <img class="image-item" src="/static/img/airport-terminal-man-1822133-850x600.jpg" alt="img-9" />
            <img class="image-item" src="/static/img/metromanagement.jpg" alt="img-10" />
            <img class="image-item" src="/static/img/gal2.jpg" alt="img-1" />
            <img class="image-item" src="/static/img/gal1.jpg" alt="img-2" />
            <img class="image-item" src="/static/img/gal4.jpg" alt="img-3" />
            <img class="image-item" src="/static/img/avaition-700x450.jpg" alt="img-4" />
            <img class="image-item" src="/static/img/merchant navy pic.jpg" alt="img-5" />
            <img class="image-item" src="/static/img/carousel-2.jpg" alt="img-6" />
            <img class="image-item" src="/static/img/tourismmanage for course category.jpg" alt="img-7" />
            <img class="image-item" src="/static/img/Diploma in Hotel Management1.jpg" alt="img-8" />
            <img class="image-item" src="/static/img/airport-terminal-man-1822133-850x600.jpg" alt="img-9" />
            <img class="image-item" src="/static/img/metromanagement.jpg" alt="img-10" />
        
        </ul>
        </div>
    </div>
    <!-- photo gallery end  -->

   


    <!-- Team Start -->
    <!-- <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
                <h1 class="mb-5">Expert Instructors</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/static/img/team-1.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="about.html"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="about.html"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="about.html"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/static/img/team-2.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="about.html"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="about.html"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="about.html"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/static/img/team-3.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="about.html"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="about.html"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="about.html"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/static/img/team-4.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="about.html"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="about.html"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="about.html"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Team End -->
        
{% include "footer.html" %}


</body>

</html>