{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admission.css' %}">

</head>
<body>
    
<!-- online addmission forms section -->

<div class="py-5" style="background-image: linear-gradient(to bottom right, #e6f6fa, #f0f8fa);">
    <div class="container">
      <div class="addmission-form-box">
        <div class="addmission-header text-center mb-5">
          <h>Online Admission</h>
        </div>
        <form
          enctype="multipart/form-data"
          method="post"
          class="row"
          action="/ADDstudent"
        >
          <input type="hidden" name="csrfmiddlewaretoken" value="ZT7wHrjEwmU9mrqo45URfLg1rUP0UIfwv7xpgm8WROuPDCGRzRQmVoZ0La2kDWFh">
          <div class="row">
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_Name">Name:</label></p>
              <input type="text" name="Name" class="form-control  " placeholder="Name" pattern="[a-zA-Z&#x27;-&#x27;\s]*" maxlength="50" required id="id_Name"> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_Email">Email:</label></p>
              <input type="email" name="Email" class="form-control" placeholder="Email" maxlength="35" required id="id_Email"> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_Number">Number:</label></p>
              <input type="number" name="Number" class="form-control  " placeholder="Mobile No." onKeyPress="if(this.value.length==10) return false;" maxlength="10" required id="id_Number"> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_DOB">DOB:</label></p>
              <input type="date" name="DOB" class="form-control  " max="2024-06-08" required id="id_DOB"> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_Aadhaar">Aadhaar:</label></p>
              <input type="number" name="Aadhaar" class="form-control  " placeholder="Aadhaar No." onKeyPress="if(this.value.length==12) return false;" maxlength="12" required id="id_Aadhaar"> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_Gender">Gender:</label></p>
              <select name="Gender" class="form-control" type="choice" required id="id_Gender">
    <option value="" selected>---------</option>
  
    <option value="Male">Male</option>
  
    <option value="Female">Female</option>
  
    <option value="Other">Other</option>
  
  </select> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_Education">Education:</label></p>
              <select name="Education" class="form-control " type="choice" required id="id_Education">
    <option value="" selected>---------</option>
  
    <option value="10th">Secondary education [10th] </option>
  
    <option value="12th">Senior secondary education [12th] </option>
  
    <option value="Grad">Graduation education</option>
  
    <option value="P.Grad">Post Graduation education</option>
  
  </select> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_doc_10th">Doc 10th:</label></p>
              <input type="file" name="doc_10th" class="form-control  " id="id_doc_10th"> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_doc_12th">Doc 12th:</label></p>
              <input type="file" name="doc_12th" class="form-control  " id="id_doc_12th"> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_doc_Graduate">Doc Graduate:</label></p>
              <input type="file" name="doc_Graduate" class="form-control  " id="id_doc_Graduate"> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_doc_postgraduate">Doc postgraduate:</label></p>
              <input type="file" name="doc_postgraduate" class="form-control  " id="id_doc_postgraduate"> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_Course_name">Course name:</label></p>
              <select name="Course_name" class="form-control" type="choice" required id="id_Course_name">
    <option value="" selected>---------</option>
  
    <option value="1">Diploma in Airport Management</option>
  
    <option value="2">Diploma in Tourism Management</option>
  
    <option value="3">Diploma in Metro Management</option>
  
    <option value="4">Diploma in Hotel Management</option>

    <option value="5">Diploma in Merchant Navy Management</option>

  </select> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_Address">Address:</label></p>
              <input type="text" name="Address" class="form-control  " placeholder="Address" maxlength="200" required id="id_Address"> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_State">State:</label></p>
              <select name="State" class="form-control" type="choice" required id="id_State">
    <option value="" selected>---------</option>
  
    <option value="Andhra Pradesh">Andhra Pradesh</option>
  
    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
  
    <option value="Assam">Assam</option>
  
    <option value="Bihar">Bihar</option>
  
    <option value="Chhattisgarh">Chhattisgarh</option>
  
    <option value="Goa">Goa</option>
  
    <option value="Gujarat">Gujarat</option>
  
    <option value="Haryana">Haryana</option>
  
    <option value="Himachal Pradesh">Himachal Pradesh</option>
  
    <option value="Jharkhand">Jharkhand</option>
  
    <option value="Karnataka">Karnataka</option>
  
    <option value="Kerala">Kerala</option>
  
    <option value="Madhya Pradesh">Madhya Pradesh</option>
  
    <option value="Maharashtra">Maharashtra</option>
  
    <option value="Manipur">Manipur</option>
  
    <option value="Meghalaya">Meghalaya</option>
  
    <option value="Mizoram">Mizoram</option>
  
    <option value="Nagaland">Nagaland</option>
  
    <option value="Odisha">Odisha</option>
  
    <option value="Punjab">Punjab</option>
  
    <option value="Rajasthan">Rajasthan</option>
  
    <option value="Sikkim">Sikkim</option>
  
    <option value="Tamil Nadu">Tamil Nadu</option>
  
    <option value="Telangana">Telangana</option>
  
    <option value="Tripura">Tripura</option>
  
    <option value="Uttar Pradesh">Uttar Pradesh</option>
  
    <option value="Uttarakhand">Uttarakhand</option>
  
    <option value="West Bengal">West Bengal</option>
  
    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
  
    <option value="Chandigarh">Chandigarh</option>
  
    <option value="Dadra &amp; Nagar Haveli and Daman &amp; Diu">Dadra &amp; Nagar Haveli and Daman &amp; Diu</option>
  
    <option value="Delhi">Delhi</option>
  
    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
  
    <option value="Lakshadweep">Lakshadweep</option>
  
    <option value="Puducherry">Puducherry</option>
  
    <option value="Ladakh">Ladakh</option>
  
  </select> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_District">District:</label></p>
              <input type="text" name="District" class="form-control  " maxlength="20" required id="id_District"> 
            </div>
            
  
            <div class="col-md-6 my-2">
              <p><label for="id_Pincode">Pincode:</label></p>
              <input type="number" name="Pincode" class="form-control  " placeholder="Pin Code" onKeyPress="if(this.value.length==6) return false;" maxlength="6" required id="id_Pincode"> 
            </div>
            
          </div>
          <div>
            <input type="checkbox" required />
            <a
              href="#"
              style="text-decoration: none"
              >Terms & Conditions*<br> I agree to the terms and conditions and declare that the name, date of birth, address and other information given by me in the online admission form is correct to the best of my knowledge and belief. Which I declare to be truely correct. If the above information is found incomplete or incorrect, my candidature is liable to be terminated at any time.
            </a>
          </div>
          <button type="submit" class="mt-5" style="border: none; color: white; background-color: #19a5e0;padding: 7px; margin-right: 85%;">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
  
  
</body>
</html>