{% include "header.html" %}
{% load static %}


    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Courses</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="index.html">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Courses</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Categories Start -->
    <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
                <h1 class="mb-5">Courses Categories</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="admission.html">
                                <img class="img-fluid" src="/static/img/Merchant navy .jpg" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Merchant Navy</h5>
                                    <small class="text-primary">Course</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="admission.html">
                                <img class="img-fluid" src="/static/img/Diploma in Hotel Management for course category.jpg" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Hotel Management</h5>
                                    <small class="text-primary">Course</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="admission.html">
                                <img class="img-fluid" src="/static/img/tourismmanage for course category.jpg" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Tourism Management</h5>
                                    <small class="text-primary">Course</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="admission.html">
                        <img class="img-fluid position-absolute w-100 h-100" src="/static/img/airport course category.jpg" alt="" style="object-fit: cover;">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                            <h5 class="m-0">Airport Management</h5>
                            <small class="text-primary">Course</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Start -->


    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
                <h1 class="mb-5">Popular Courses</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/static/img/avaition-700x450.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="admission.html" class="flex-shrink-0 btn btn-sm btn-light px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="admission.html" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h5 class="mb-4">Diploma in Airport Management</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>957 Students Enrolled</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/static/img/airport-terminal-man-1822133-850x600.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="admission.html" class="flex-shrink-0 btn btn-sm btn-light px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="admission.html" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>


                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h5 class="mb-4">Diploma in Tourism Management</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>720 Students Enrolled</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/static/img/Diploma in Hotel Management1.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="admission.html" class="flex-shrink-0 btn btn-sm btn-light px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="admission.html" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>

                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h5 class="mb-4">Diploma in Hotel Management</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>841 Students Enrolled</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/static/img/merchant navy.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="admission.html" class="flex-shrink-0 btn btn-sm btn-light px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="admission.html" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>

                        
                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h5 class="mb-4">Diploma in Merchant Navy Management</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>764 Students Enrolled</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/static/img/metromanagement.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="admission.html" class="flex-shrink-0 btn btn-sm btn-light px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="admission.html" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>


                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h5 class="mb-4">Diploma in Metro Management</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>678 Students</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->


     <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
                <h1 class="mb-5">Our Students Say!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/testi6.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Vinay Chaudhary</h5>
                    <p>Pilot Trainee</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">I've learned so much about the aviation industry. The online format allowed me to balance my studies with my work schedule. The instructors are incredibly knowledgeable and passionate, and they truly care about our success. I highly recommend Placement Institute to anyone interested in pursuing a career in aviation.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/testi7.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Pranali Vatankar</h5>
                    <p>Cabin Crew</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">I always dreamed of becoming a cabin crew member, and Placement Institute helped me turn that dream into reality. The Course provided comprehensive training on everything from customer service to safety protocols. The Institute's focus on soft skills like communication and teamwork was invaluable.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/testi4.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Apurva Gulhane</h5>
                    <p>Travel Coordinator</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Studying tourism management at Placement Institute was an amazing experience. The instructors were industry professionals who provided deep insights into the sector. The engaging course projects helped me understand the intricacies of travel coordination. Thank you so much!</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/testi5.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Nirvan Tayde</h5>
                    <p>Deck officer</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Joining the merchant navy Course was the best decision I ever made. The comprehensive course content and rigorous training covered all aspects of maritime operations, preparing me well for my role as a deck officer </p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/testi3.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Akhil Mehra</h5>
                    <p>Airport Operations</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">The online Airport Management course was exceptional. The interactive modules and virtual simulations made learning engaging and effective, and the instructors were always available for support. I now feel well-prepared for my role in airport operations.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/testi2.jpg" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Manthan Khurekar</h5>
                    <p>Metro Safety Coordinator</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">The metro management course at Placement Institute was incredibly comprehensive. The Online training on metro systems and detailed study modules prepared me well for my career. The experienced faculty and modern facilities provided a fantastic learning environment. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
        
      <!-- our student placed in  -->

      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Placed in Companies</h6>
            <h1 class="mb-5">Our Students Placed In</h1>
        </div>
        <div class="logo-slider-container">
            <div class="logo-slider">
                <div class="logo-slide"><img src="/static/img/companylogos/cl1.jpg" alt="Company 1"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl2.jpg" alt="Company 3"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl3.jpg" alt="Company 4"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl4.jpg" alt="Company 5"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl5.jpg" alt="Company 6"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl6.jpg" alt="Company 7"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl7.jpg" alt="Company 8"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl8.jpg" alt="Company 9"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl9.jpg" alt="Company 10"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl10.jpg" alt="Company 11"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl11.jpg" alt="Company 12"></div>
                <div class="logo-slide"><img src="/static/img/companylogos/cl12.jpg" alt="Company 13"></div>
            </div>
        </div>
    </div>

   {% include "footer.html" %}

</body>

</html>