{% load static %}

<!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Quick Link</h4>
                    <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                    <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
                    <a class="btn btn-link" href="{% url 'index' %}">Privacy Policy</a>
                    <a class="btn btn-link" href="{% url 'index' %}">Terms & Condition</a>
                    <a class="btn btn-link" href="{% url 'index' %}">FAQs & Help</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Ganga Nagar Extension, Manjunatha Layout, R.T.Nagar, Bangalore, Karnataka, 560032</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Ramghat road kishanpur ADA Colony gali no:- 02 Aligarh (U.P) pincode:- 202001</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 92894 89444</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 92893 51444</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@placementinstitute.com</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>Admission@placementinstitute.com</p>
                    <!-- <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="{% url 'index' %}"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href="{% url 'index' %}"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="{% url 'index' %}"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="{% url 'index' %}"><i class="fab fa-linkedin-in"></i></a>
                    </div> -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Gallery</h4>
                    <div class="row g-2 pt-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/static/img/Diploma in Hotel Management for course category.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/static/img/airport-terminal-man-1822133-850x600.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/static/img/merchant navy.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/static/img/metromanagement.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/static/img/avaition-700x450.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/static/img/Diploma in Hotel Management1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Newsletter</h4>
                    <p>Subscribe to Newsletter</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        Copyright© 2024, All rights reserved  <a class="border-bottom" href="{% url 'index' %}">Placement Institute</a>
                     </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="index.html#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>