{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Placement Institute - eLearning Institute</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/placement institute logo.png' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <div class="container-fluid bg-dark text-light p-0">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-map-marker-alt text-primary me-2"></small>
                    <small>Ramghat Road Kishanpur ADA Colony Aligarh (U.P) Pincode: 202001</small>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <small class="far fa-clock text-primary me-2"></small>
                    <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-phone-alt text-primary me-2"></small>
                    <small>+91 92894 89444</small>
                </div>
                <!-- <div class="h-100 d-inline-flex align-items-center mx-n2">
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-square btn-link rounded-0" href=""><i class="fab fa-instagram"></i></a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h3 class="m-0 text-dark "><img src="/static/img/I-removebg-preview.png" alt="Icon" class="me-1" style="height: 2.7em"></i> <span style="font-family: 'Merriweather', sans-serif; font-weight: bold;">Placement Institute </span></h3>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'courses' %}" class="nav-item nav-link">Courses</a>
                <div class="nav-item dropdown">
                    <!-- <a href="index.html#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="team.html" class="dropdown-item">Our Team</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="404.html" class="dropdown-item">404 Page</a>
                    </div> -->
                </div>
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
            </div>
            <!-- <a href="{% url 'index' %}" class="btn py-4 px-lg-5 d-none d-lg-block" id="customBtn" style="background-color: #f2c112; border-color: #f2c112; color: #162138;">Get Admission<i class="fa fa-arrow-right ms-3"></i></a> -->
            <a href="{% url 'admission' %}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block custom-btn-color">Get Admission<i class="fa fa-arrow-right ms-3"></i></a>

        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="/static/img/grad1.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <!-- <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5> -->
                                <h2 class="display-4 text-white animated slideInDown">Welcome to<br> Placement Institute</h2>
                                <p class="fs-6 text-primary mb-4 pb-2">At Placement Institute, we are committed to empowering individuals with the knowledge and skills needed to excel in their careers.</p>
                                
                                <h2 class="cookie-regular">
                                    Founder Ms Kajal Rajput
                                  </h2>
                      
                                  <style>
                                    @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
                            
                                    .cookie-regular {
                                        font-family: "Cookie", cursive;
                                        font-weight: bold;
                                        font-style: normal;
                                        color: rgb(255, 255, 255);
                                        overflow: hidden;
                                    }
                      
                                    @media (max-width: 767px) {
                                  .cookie-regular {
                                      text-align: left; /* Center text for mobile devices */
                                                  }
                                                              }
                      
                                  </style>
                                
                                <a href="{% url 'courses' %}" class="btn btn-dark py-md-3 px-md-5 me-3 animated slideInLeft">Courses</a>
                                <a href="{% url 'admission' %}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Admission</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="/static/img/carousel-1.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                                <h1 class="display-4 text-white animated slideInDown">Get Educated Online From Your Home</h1>
                                <p class="fs-5 text-white mb-4 pb-2"></p>
                                <a href="{% url 'courses' %}" class="btn btn-dark py-md-3 px-md-5 me-3 animated slideInLeft">Courses</a>
                                <a href="{% url 'admission' %}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Admission</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <div class="announcement-container">
        <div class="announcement">Approved by ACT Government of India, NCT (National Capital Territory), MSME (Ministry of Micro, Small & Medium Enterprises), and MCA (Ministry of Corporate Affairs)</div>
      </div>

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">

                            <a href="{% url 'admission' %}">
                                <i class="fa fa-3x fa-graduation-cap text-dark mb-4"></i>
                                <h5 class="mb-3">Admission</h5>
                              </a>
                            <p>Start your career with Placement Institute, Get Admission Today!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <a href="{% url 'login' %}">
                            <i class="fa fa-3x fa-user text-dark mb-4"></i>
                            <h5 class="mb-3">Login</h5>
                            </a>
                            <p>Welcome back! Sign in to access your courses, track your progress.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <a href="{% url 'about' %}">
                            <i class="fa fa-3x fa-home text-dark mb-4"></i>
                            <h5 class="mb-3">About Us</h5>
                            </a>
                            <p>We offer flexible online courses and government-approved certificates.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <a href="{% url 'contact' %}">
                            <i class="fa fa-3x fa-phone text-dark mb-4"></i>
                            <h5 class="mb-3">Contact Us</h5>
                            </a>
                            <p>Reach out! Contact us by phone, email. We're here to help you navigate your journey.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="/static/img/grad.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Welcome to Placement Institute</h1>
                    <p class="mb-4">Approved by the <b>ACT Government of India, NCT (National Capital Territory), MSME (Ministry of Micro, Small & Medium Enterprises), and MCA (Ministry of Corporate Affairs)</b></p>
                    <!-- <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Flexible Online Classes</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Govt. Approved Certificate</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Network with Professionals</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Flexible Payment Plans</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Career Support</p>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'about' %}">Know More Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Categories Start -->
    <!-- <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
                <h1 class="mb-5">Courses Categories</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="{% url 'index' %}">
                                <img class="img-fluid" src="/static/img/cat-1.jpg" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Web Design</h5>
                                    <small class="text-primary">49 Courses</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="{% url 'index' %}">
                                <img class="img-fluid" src="/static/img/cat-2.jpg" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Graphic Design</h5>
                                    <small class="text-primary">49 Courses</small>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="{% url 'index' %}">
                                <img class="img-fluid" src="/static/img/cat-3.jpg" alt="">
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                    <h5 class="m-0">Video Editing</h5>
                                    <small class="text-primary">49 Courses</small>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="{% url 'index' %}">
                        <img class="img-fluid position-absolute w-100 h-100" src="/static/img/cat-4.jpg" alt="" style="object-fit: cover;">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                            <h5 class="m-0">Online Marketing</h5>
                            <small class="text-primary">49 Courses</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Categories end -->


    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
                <h1 class="mb-5">Popular Courses</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/static/img/avaition-700x450.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="{% url 'admission' %}" class="flex-shrink-0 btn btn-sm btn-light px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="{% url 'admission' %}" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>
                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h5 class="mb-4">Diploma in Airport Management</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>957 Students Enrolled</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/static/img/airport-terminal-man-1822133-850x600.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="{% url 'admission' %}" class="flex-shrink-0 btn btn-sm btn-light px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="{% url 'admission' %}" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>


                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h5 class="mb-4">Diploma in Tourism Management</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>720 Students Enrolled</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/static/img/Diploma in Hotel Management1.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="{% url 'admission' %}" class="flex-shrink-0 btn btn-sm btn-light px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="{% url 'admission' %}" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>

                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h5 class="mb-4">Diploma in Hotel Management</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>841 Students Enrolled</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/static/img/merchant navy.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="{% url 'admission' %}" class="flex-shrink-0 btn btn-sm btn-light px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="{% url 'admission' %}" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>

                        
                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h5 class="mb-4">Diploma in Merchant Navy Management</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>764 Students Enrolled</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="/static/img/metromanagement.jpg" alt="">
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="{% url 'admission' %}" class="flex-shrink-0 btn btn-sm btn-light px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                <a href="{% url 'admission' %}" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                            </div>
                        </div>


                        <div class="text-center p-4 pb-0">
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <h5 class="mb-4">Diploma in Metro Management</h5>
                        </div>
                        <div class="d-flex border-top">
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>678 Students</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->

    


    <!-- Team Start -->
    <!-- <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
                <h1 class="mb-5">Expert Instructors</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/static/img/team-1.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="{% url 'index' %}"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="{% url 'index' %}"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="{% url 'index' %}"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/static/img/team-2.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="{% url 'index' %}"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="{% url 'index' %}"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="{% url 'index' %}"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/static/img/team-3.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="{% url 'index' %}"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="{% url 'index' %}"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="{% url 'index' %}"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item bg-light">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="/static/img/team-4.jpg" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                <a class="btn btn-sm-square btn-primary mx-1" href="{% url 'index' %}"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="{% url 'index' %}"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-sm-square btn-primary mx-1" href="{% url 'index' %}"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">Instructor Name</h5>
                            <small>Designation</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Team End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/testi6.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Vinay Chaudhary</h5>
                <p>Pilot Trainee</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">I've learned so much about the aviation industry. The online format allowed me to balance my studies with my work schedule. The instructors are incredibly knowledgeable and passionate, and they truly care about our success. I highly recommend Placement Institute to anyone interested in pursuing a career in aviation.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/testi7.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Pranali Vatankar</h5>
                <p>Cabin Crew</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">I always dreamed of becoming a cabin crew member, and Placement Institute helped me turn that dream into reality. The Course provided comprehensive training on everything from customer service to safety protocols. The Institute's focus on soft skills like communication and teamwork was invaluable.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/testi4.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Apurva Gulhane</h5>
                <p>Travel Coordinator</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Studying tourism management at Placement Institute was an amazing experience. The instructors were industry professionals who provided deep insights into the sector. The engaging course projects helped me understand the intricacies of travel coordination. Thank you so much!</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/testi5.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Nirvan Tayde</h5>
                <p>Deck officer</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Joining the merchant navy Course was the best decision I ever made. The comprehensive course content and rigorous training covered all aspects of maritime operations, preparing me well for my role as a deck officer </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/testi3.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Akhil Mehra</h5>
                <p>Airport Operations</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">The online Airport Management course was exceptional. The interactive modules and virtual simulations made learning engaging and effective, and the instructors were always available for support. I now feel well-prepared for my role in airport operations.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="/static/img/testi2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Manthan Khurekar</h5>
                <p>Metro Safety Coordinator</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">The metro management course at Placement Institute was incredibly comprehensive. The Online training on metro systems and detailed study modules prepared me well for my career. The experienced faculty and modern facilities provided a fantastic learning environment. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

    <!-- photo gallery -->
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Gallery of Memories</h6>
            <h2 class="mb-5">Photos</h2>
        </div>
        <div class="slider-wrapper">
        <ul class="image-list">
            <img class="image-item" src="/static/img/gal2.jpg" alt="img-1" />
            <img class="image-item" src="/static/img/gal1.jpg" alt="img-2" />
            <img class="image-item" src="/static/img/gal4.jpg" alt="img-3" />
            <img class="image-item" src="/static/img/avaition-700x450.jpg" alt="img-4" />
            <img class="image-item" src="/static/img/merchant navy pic.jpg" alt="img-5" />
            <img class="image-item" src="/static/img/carousel-2.jpg" alt="img-6" />
            <img class="image-item" src="/static/img/tourismmanage for course category.jpg" alt="img-7" />
            <img class="image-item" src="/static/img/Diploma in Hotel Management1.jpg" alt="img-8" />
            <img class="image-item" src="/static/img/airport-terminal-man-1822133-850x600.jpg" alt="img-9" />
            <img class="image-item" src="/static/img/metromanagement.jpg" alt="img-10" />
            <img class="image-item" src="/static/img/gal2.jpg" alt="img-1" />
            <img class="image-item" src="/static/img/gal1.jpg" alt="img-2" />
            <img class="image-item" src="/static/img/gal4.jpg" alt="img-3" />
            <img class="image-item" src="/static/img/avaition-700x450.jpg" alt="img-4" />
            <img class="image-item" src="/static/img/merchant navy pic.jpg" alt="img-5" />
            <img class="image-item" src="/static/img/carousel-2.jpg" alt="img-6" />
            <img class="image-item" src="/static/img/tourismmanage for course category.jpg" alt="img-7" />
            <img class="image-item" src="/static/img/Diploma in Hotel Management1.jpg" alt="img-8" />
            <img class="image-item" src="/static/img/airport-terminal-man-1822133-850x600.jpg" alt="img-9" />
            <img class="image-item" src="/static/img/metromanagement.jpg" alt="img-10" />
        
        </ul>
        </div>
    </div>
    <!-- photo gallery end  -->
    
        

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Quick Link</h4>
                    <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                    <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
                    <a class="btn btn-link" href="{% url 'index' %}">Privacy Policy</a>
                    <a class="btn btn-link" href="{% url 'index' %}">Terms & Condition</a>
                    <a class="btn btn-link" href="{% url 'index' %}">FAQs & Help</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Ganga Nagar Extension, Manjunatha Layout, R.T.Nagar, Bangalore, Karnataka, 560032</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Ramghat road kishanpur ADA Colony gali no:- 02 Aligarh (U.P) pincode:- 202001</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 92894 89444</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 92893 51444</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@placementinstitute.com</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>Admission@placementinstitute.com</p>
                    <!-- <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="{% url 'index' %}"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href="{% url 'index' %}"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="{% url 'index' %}"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="{% url 'index' %}"><i class="fab fa-linkedin-in"></i></a>
                    </div> -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Gallery</h4>
                    <div class="row g-2 pt-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/static/img/Diploma in Hotel Management for course category.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/static/img/airport-terminal-man-1822133-850x600.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/static/img/merchant navy.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/static/img/metromanagement.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/static/img/avaition-700x450.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light p-1" src="/static/img/Diploma in Hotel Management1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Newsletter</h4>
                    <p>Subscribe to Newsletter</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        Copyright© 2024, All rights reserved  <a class="border-bottom" href="{% url 'index' %}">Placement Institute</a>
                     </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="index.html#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>